* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    z-index: 1;
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #111;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #fe771d;
}

.description {
    width: 40%;
    height: 100%;
    align-items: center;
    vertical-align: center;
}

#p {
    text-align: center;
}

#h1 {
    text-align: center;
}

.illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #ffffff;
    z-index: 2;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    height: 50vh;
    width: 50vh;
    opacity: 0;
}